@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject StateProviderAuthentication authStateProvider
@inject IDialogService dialogService
@inject ISnackbar snackBar

<MudThemeProvider Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="25" Dense="false">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudDivider Vertical="true" Class="mr-3"/>
        <MudText Typo="Typo.h4">SIRA <span style="Color:#212121; font-size:12px; font-weight:700; font-style:italic;">V - 2.0.1</span></MudText>
        <MudSpacer/>
        <MudText Typo="Typo.subtitle1"><b>S</b>ystème d'<b>I</b>nformation et de <b>R</b>éférencement des <b>A</b>pplications <span style="Color:#212121; font-size:12px; font-weight:700; font-style:italic;">V - 2.0.1</span></MudText>
        <MudSpacer/>
        @if(_show)
        {
            <MudText Typo="Typo.body2" Class="mr-4">USER ID : <strong>@Name</strong></MudText>
            <MudButton Variant="MudBlazor.Variant.Filled" OnClick="@Logout" Size="Size.Small" Color="MudBlazor.Color.Default">Déconnexion</MudButton>
        }else
        {
            <MudButton Variant="MudBlazor.Variant.Filled" Href="/auth/login" Size="Size.Small" Color="MudBlazor.Color.Secondary">Se connecter</MudButton>
        }
    </MudAppBar>
    
    <MudDrawer @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Always">
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.False" Class="mt-4">
            @Body

            <div class="p-4">
                <MudDivider />
                <MudText Class="mt-3" Typo="Typo.caption">@DateTime.Now.Year &copy; SIRA - Version 2.0.1</MudText>
            </div>
        </MudContainer>
    </MudMainContent>
</MudLayout>